html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
/*------------------------Nav bar------------------------*/
.navbar {
  background: url('https://media.licdn.com/media/p/6/005/06d/17f/36575f0.png');
  background-size:cover;
  background-position: center; 
  margin-bottom: 0;
  height: 25%;

}

.navbar-form{
  display: block;
  margin: auto;
}

.input-group {
  margin: 10px;
}
/*------------------------Map------------------------*/
#wrapper {
  position: relative; 
  height: 75%;
}

#map {
  height: 100%;
}
/*------------------------Loader------------------------*/
#loader { 
  background: url('http://estatic.ccmbg.com/expeertv2.com/skin/common/img/loading.gif');
  background-size:cover;
  position: absolute; 
  visibility: hidden;
  top: 50%; 
  left: 50%; 
  width: 60px;
  height: 60px;
  z-index: 99; 
}
/*------------------------Modal------------------------*/
.list-group-item-heading {
  margin-top: 10px;
}